body {
    background-color: #dcf779;
    font-family: Arial, sans-serif;
    text-align: center;
}
.egg1 {
    display: inline-block;
    width: 100px;
    height: 120px;
    background: linear-gradient(45deg, #ff0000, #ffcce6);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    margin: 30px;
    cursor: pointer;
    transition: transform 0.3s;
}

.egg3 {
    display: inline-block;
    width: 100px;
    height: 120px;
    background: linear-gradient(45deg, #012b06, #ffcce6);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    margin: 30px;
    cursor: pointer;
    transition: transform 0.3s;
}

.egg2 {
    display: inline-block;
    width: 100px;
    height: 120px;
    background: linear-gradient(45deg, #3801ff, #dbfb29);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    margin: 30px;
    cursor: pointer;
    transition: transform 0.3s;
}

.egg2 {
    display: inline-block;
    width: 100px;
    height: 130px;
    background: linear-gradient(45deg, #3801ff, #ffcce6);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}
.egg:hover {
    transform: scale(1.1);
}
#secretBunny {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 50px;
}
.hidden-basket {
    color: transparent;
    user-select: none;
}
.hidden-basket:hover {
    color: #ff6b6b;
}
